{% extends 'base.html' %}

{% block body %}

{% for table in tasks %}
            {{ table|safe }}
{% endfor %}

<div class="form">
    <form action="/" method="POST">
        <input type="text" name="Task" id="Task" placeholder="Task">
        <input type="text" name="Duration" id="Duration" placeholder="Duration">
        <input type="submit" name="Submit" value="Submit"><br><br>

        Delete row:
        <select id="Del" name="Del">
            {% for value in all_rows %}
            <option value="{{ value }}">{{ value }}</option>
            {%  endfor %}
        </select>
        <input type="submit" name="Submit" value="Delete"><br><br><br><br><br><br>

        <input type="submit" name="Submit" value="Connections">

        <br><br><br><br><br><br><br><br><br>

        <input type="submit" name="Submit" value="Reset">
    </form>
</div>

{% endblock %}